  <h3>Agregar: {{name()}}</h3>
        <input type="text" 
               class="form-control" 
               placeholder="Nombre" 
               [value]="name()"
               (input)="name.set(textName.value)"
               #textName
        >
        <h3>Agregar: {{power()}}</h3>
        <input type="number" 
               class="form-control mt-2" 
               placeholder="Poder"
               [value]="power()"
               (input)="power.set(+textPower.value)"
               #textPower
        >
        <button (click)="addCharacter()" class="mt-2 btn btn-primary">Agregar</button>
